.EndpointDrawerButton__form {
    margin-bottom: 16px;
    width: 100%;
}

.EndpointDrawerButton__urlItem {
    flex: 1;
    margin-right: 8px;
    margin-bottom: 8px;
}

.EndpointDrawerButton__submitItem {
    margin-bottom: 8px;
}

.EndpointDrawerButton__warning {
    margin-bottom: 16px;
}
