.InfinityScroll {
    width: 100%;

    .ant-list .ant-list-item .ant-list-item-action {
        width: 100%;
        margin-top: 0;
        margin-inline-start: 0 !important;
    }

    .ant-list .ant-list-item .ant-list-item-action > li {
        width: 100%;
        padding: 0;
    }

    .ant-list .ant-list-item .ant-list-item-action > li::after {
        display: none;
    }
}

.AppList__title {
    margin: 0 !important;
}

.AppList__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}

.infinite-scroll-component__outerdiv,[id^='infinite'] {
    width: 100%;
}

.infinite-scroll-component {
    overflow: visible !important;
}

.AppList__tribeEnd {
    text-align: center;
    padding: 32px 16px;
}

.AppList__tribeEndHeading {
    margin-bottom: 16px !important;
}
