.InfinityScroll {
    width: 100%;
}

.AppList__title {
    margin: 0 !important;
}

.infinite-scroll-component__outerdiv,[id^='infinite'] {
    width: 100%;
}

.infinite-scroll-component {
    overflow: visible !important;
}

.AppList__tribeEnd {
    text-align: center;
    padding: 32px 16px;
}

.AppList__tribeEndHeading {
    margin-bottom: 16px !important;
}