.JobList__description {
  margin-bottom: 0;
}

.JobDetail__backBtn {
  margin-bottom: 16px;
  font-size: 18px;
}

.JobDetail__header {
  margin-bottom: 16px;
}

.JobDetail__title {
  margin-bottom: 8px;
}

.ActionBtn {
  min-width: 120px;
}

.JobInactiveNotice {
  display: block;
}

.JobDetail__description {
  margin-bottom: 16px;
}

.EntityList__body {
  width: 100%;
}

.EntityList__description {
  margin-bottom: 0;
}
