.AppLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__container {
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
    }

    .ant-layout-header,
    .ant-layout-footer {
        flex: 0 0 auto;
    }

    .ant-layout-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
}
