.Markdown {
  word-break: break-word;
}

.Markdown p {
  margin-top: 0;
  margin-bottom: 12px;
}

.Markdown > :last-child {
  margin-bottom: 0;
}

.Markdown--clamp2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.Markdown--clamp2 p {
  margin: 0;
  display: inline;
}

.Markdown--clamp2 p + p::before {
  content: " ";
}
