.Profile {
    max-width: 800px;
    margin: 0 auto;

    &__info {
        margin-bottom: 20px;

        .ant-card-body {
            padding: 24px;
        }
    }

    &__forms {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 16px;
    }

    &__card {
        height: 100%;
    }

    &__actions {
        margin-bottom: 8px;
    }

    &__listingsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }

    &__listingsTitle {
        margin: 0 !important;
    }
}
