$bp-xs: 480px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1600px;

@mixin xs {
    @media (min-width: $bp-xs) {
        @content;
    }
}

@mixin xs-min {
    @media (max-width: ($bp-xs - 0.02px)) {
        @content;
    }
}

@mixin sm {
    @media (min-width: $bp-sm) {
        @content;
    }
}

@mixin sm-min {
    @media (max-width: ($bp-sm - 0.02px)) {
        @content;
    }
}

@mixin md {
    @media (min-width: $bp-md) {
        @content;
    }
}

@mixin md-min {
    @media (max-width: ($bp-md - 0.02px)) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $bp-lg) {
        @content;
    }
}

@mixin lg-min {
    @media (max-width: ($bp-lg - 0.02px)) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $bp-xl) {
        @content;
    }
}

@mixin xl-min {
    @media (max-width: ($bp-xl - 0.02px)) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: $bp-xxl) {
        @content;
    }
}

@mixin xxl-min {
    @media (max-width: ($bp-xxl - 0.02px)) {
        @content;
    }
}