.SplashPage {
    width: 100%;

    &__content {
        padding: 16px;
        max-width: 84rem;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
    }

    &__picture {
        display: block;
        margin: 0 auto;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
}