.SplashPage {
    width: 100%;

    &__content {
        padding: 16px;
        max-width: 84rem;
        width: 100%;
        margin: 0 auto;
    }

    &__hero {
        padding: 48px 16px;
        text-align: center;
    }

    &__heroInner {
        max-width: 600px;
        margin: 0 auto;
    }

    &__logo {
        width: 80px;
        height: 80px;
    }

    &__title {
        margin: 0 !important;
    }

    &__tagline {
        font-size: 1.125rem;
        opacity: 0.7;
    }
}
