.SplashPage {
    padding: 16px;

    &__title {
        margin: 0;
    }

    &__picture {
        display: block;
        width: 100%;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
}