@import "@solana/wallet-adapter-react-ui/styles.css";
@import "@tronweb3/tronwallet-adapter-react-ui/style.css";
@import "./styles/queries";
@import "./styles/header";
@import "./styles/layout";
@import "./styles/splash";

body {
    padding: 0;
    margin: 0;
}