@import "@solana/wallet-adapter-react-ui/styles.css";
@import "@tronweb3/tronwallet-adapter-react-ui/style.css";
@import "./styles/queries";
@import "./styles/header";
@import "./styles/layout";
@import "./styles/splash";
@import "./styles/jobs";
@import "./styles/entities";
@import "./styles/infinity-scroll";
@import "./styles/filters";
@import "./styles/markdown";

body {
    padding: 0;
    margin: 0;
}
